<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeNex</title>
    <link rel="stylesheet" href="../assets/css/stackoverflow.css" />
  </head>
  <body>
    <div id="questionSection">
      <h2>Ask a Question</h2>
      <textarea id="questionInput"></textarea>
      <button id="postQuestion">Post</button>
    </div>

    <div id="answersSection"></div>
  </body>
  <script src="../assets/js/stackoverflow.js"></script>
</html>
